html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  vertical-align: middle;
}

section {
  background-color: #eee9de;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  margin-top: 1.5rem;
  padding-top: 1em;
}

div {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: .4em .75em .5em;
  padding-top: 0;
  vertical-align: middle;
  text-align: left;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

.btn {
  background-color: #eee9de;
  border-style: solid;
  border-color: #333;
  border-radius: 5px;
  text-align: center;
  margin-top: 0;
  padding: .5em;
  margin-bottom: 1.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin-bottom: 1.5rem;
}

a:hover {
  border-style: solid;
  border-color: #666;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  text-align: left;
}

p {
  margin-top: 1.5rem;
  padding-bottom: 1em;
}
